extends ./../partials/header
block main
  .responsive-header
    .left-side-open-button
      span Üye Girişi
    .right-side-open-button
      span Üye Ol
  form.main-wrapper-left-side(action="/auth/login" method="POST")
    span.main-title Üye Girişi
    span.main-input-title E-Posta Adresi
    .main-input-wrapper
      i.fas.fa-envelope
      input.main-input(type="text" name="email" placeholder="E-Posta Adresi" spellcheck="false" autocomplete="off")
    span.main-input-title Şifre
    .main-input-wrapper
      i.fas.fa-key
      input.main-input(type="password" name="password" placeholder="Şifre")
    button.send-form-button Giriş Yap
    if login_error
      .error-wrapper
        span= login_error
  form.main-wrapper-right-side(action="/auth/register" method="POST")
    span.main-title Üye Ol
    span.main-input-title E-Posta Adresi
    .main-input-wrapper
      i.fas.fa-envelope
      input.main-input(type="text" name="email" placeholder="E-Posta Adresi" spellcheck="false" autocomplete="off")
    span.main-input-title Şifre
    .main-input-wrapper
      i.fas.fa-key
      input.main-input(type="password" name="password" placeholder="Şifre")
    span.main-input-title Şifre Tekrarı
    .main-input-wrapper
      i.fas.fa-key
      input.main-input(type="password" name="confirm_password" placeholder="Şifre Tekrarı")
    button.send-form-button.register-send-button Üye Ol
    a.agreement-text(href="/agreement") Üyelik Sözleşmesini ve kişisel verilerin korunması hakkında bilgilendirmeyi okudum ve kabul ediyorum.
    if register_error
      .error-wrapper
        span= register_error
