extends ./../partials/header
block main
  .all-content-inner-wrapper
    span.all-content-title Bize Ulaşın!
    span.all-content-subtitle Telefon Numarası:
    span.all-content-text 03622366898
    span.all-content-subtitle Cep Numarası:
    span.all-content-text +905062980080
    span.all-content-subtitle Mail Adresi:
    span.all-content-text info@global-tas.com
    span.all-content-subtitle Adres:
    span.all-content-text Cumhuriyet Mahallesi Atatürk Bulvari no 324 Tekkeköy/Samsun
