extends ./../partials/head
block content
  .main-wrapper
    form.main-form(action="/admin/auth" method="POST")
      span.main-title Globally Admin Girişi
      span.main-input-title Lütfen admin şifresini girin
      .main-input-wrapper
        i.fas.fa-key
        input.main-input(type="password" name="password" placeholder="Şifre" autofocus)
      button.send-form-button Giriş Yap
      if error
        .error-wrapper
          span= error
