extends ./../partials/admin_header
block main
  .header-wrapper
    .header-title-wrapper
      span.header-title Vitrindekiler Sayfası
      span.header-info Bu sayfadan vitrindeki ürünleri silebilirsiniz. Yeni bir ürün eklemek için lütfen Ürünler Sayfası'na gidin.
  .content-wrapper
    .products-wrapper
      each product in products
        .each-product-wrapper
          .product-image-wrapper
            img.product-image(src=product.productPhotoArray[0])
          span.product-name= product.name
          span.product-description= product.description
          a.delete-product-button(href=`/admin/window/delete?id=${product._id}`)
            i.fas.fa-trash
