.all-content {
  display: flex;
  align-items: center;
}
.main-wrapper-left-side {
  flex: 1;
  padding-right: 4%;
  padding-left: 4%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  border-right: 2px solid rgb(236, 236, 236);
}
.main-wrapper-right-side {
  flex: 1;
  padding-right: 4%;
  padding-left: 4%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.main-title {
  color: rgb(64, 64, 64);
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 3%;
}
.main-input-title {
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 1%;
}
.main-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid rgb(236, 236, 236);
  background-color: white;
  width: 75%;
  height: 10%;
  padding-left: 3%;
  margin-bottom: 5%;
  border-radius: 5px;
}
.main-input {
  outline: none;
  border: none;
  font-size: 100%;
  color: rgb(112, 112, 112);
  width: 90%;
  height: 90%;
  padding-left: 5px;
}
.main-input-wrapper i {
  color: rgb(112, 112, 112);
  font-size: 90%;
}
.send-form-button {
  width: 75%;
  height: 10%;
  background-color: rgb(243, 149, 63);
  outline-color: rgb(87, 154, 40);
  color: white;
  font-size: 150%;
  font-weight: 600;
  cursor: pointer;
  border-width: 0px;
  border-radius: 5px;
}
.register-send-button {
  background-color: rgb(87, 154, 40);
  outline-color: rgb(243, 149, 63);
}
.agreement-text {
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 300;
  width: 75%;
  text-align: center;
  margin-top: 10px;
}

.responsive-header {
  display: none;
  margin-top: 4%;
  margin-left: 4%;
  width: 80%;
  align-self: flex-start;
}
.left-side-open-button {
  padding: 2%;
  border: 2px solid rgb(136, 136, 136);
  border-top-right-radius: 20px;
  flex: 1;
  z-index: 2;
  cursor: pointer;
  background-color: white;
}
.right-side-open-button {
  padding: 2%;
  border: 2px solid rgb(205, 204, 204);
  border-top-right-radius: 20px;
  padding-left: 6%;
  margin-left: -5%;
  flex: 1;
  cursor: pointer;
  background-color: white;
}
.left-side-open-button span, .right-side-open-button span {
  color: rgb(64, 64, 64);
  font-size: 150%;
  font-weight: 700;
}

.error-wrapper {
  margin-top: 2%;
  color: rgb(243, 149, 63);
  font-size: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: 75%;
  text-align: center;
}

@media only screen and (max-width: 1110px) and (min-width: 300px) {
  .main-input-wrapper {
    width: 100%;
  }
  .send-form-button, .agreement-text {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 300px) {
  .all-content {
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .main-wrapper-left-side {
    border: none;
    border-bottom: 2px solid rgb(236, 236, 236);
    flex: initial;
    width: 75%;
    height: fit-content;
    padding-bottom: 3%;
  }
  .main-wrapper-right-side {
    flex: initial;
    width: 75%;
    height: fit-content;
    padding-bottom: 10%;
  }
  .main-input-wrapper {
    height: auto;
    padding: 2%;
    padding-left: 3%;
  }
  .send-form-button {
    padding: 2%;
    height: auto;
  }
  .error-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 300px) {
  .main-wrapper-left-side, .main-wrapper-right-side {
    width: 100%;
  }
  .main-title {
    display: none;
  }
  .responsive-header {
    display: flex;
  }
  .main-wrapper-right-side {
    display: none;
  }
  .main-wrapper-left-side {
    border: none;
  }
}
