extends ./../partials/head
block content
  .all-wrapper
    .all-nav-bar
      a(href="/")
        img.header-logo(src="/res/images/main_logo.png")
      a.each-nav-button(class=(active_nav_button == "orders" ? "each-nav-button-active" : "") href="/admin") Siparişler Sayfası
      a.each-nav-button(class=(active_nav_button == "products" ? "each-nav-button-active" : "") href="/admin/products") Ürünler Sayfası
      a.each-nav-button(class=(active_nav_button == "notices" ? "each-nav-button-active" : "") href="/admin/categories") Kategoriler Sayfası
    .all-content
      block main
