extends ./head
block content
  .all-wrapper
    .responsive-menu-wrapper
      .responsive-menu-header
        img.header-logo(src="/res/images/main_logo.png")
        i.fas.fa-times.all-header-responsive-menu-close-button
      .responsive-menu-content
        span.responsive-all-product-button Tüm Ürünler
          i.fas.fa-chevron-down
        span.responsive-new-product-button En Yeniler
        span.responsive-discount-product-button İndirimdekiler
    .all-header
      i.fas.fa-bars.all-header-responsive-menu-open-button
      img.header-logo(src="/res/images/main_logo.png")
      span.all-product-button Tüm Ürünler
        i.fas.fa-chevron-down
      span.new-product-button En Yeniler
      span.discount-product-button İndirimdekiler
      .search-wrapper
        i.fas.fa-search
        input.search-input(type="text" placeholder="Ürün Ara" autocomplete="off")
      .user-wrapper
        a.login-wrapper(href="/auth") 
          i.fas.fa-user
          .login-button
            span Giriş Yap 
            span veya Üye Ol
        a.basket-wrapper(href="/index/basket") 
          .basket-button
            span Alışveriş
            span Sepetim
          i.fas.fa-shopping-basket
    .all-header-search-wrapper
      i.fas.fa-search
      input.search-input(type="text" placeholder="Ürün Ara" autocomplete="off")
    .all-content
      block main
