extends ./head
block content
  .all-wrapper
    .responsive-menu-wrapper
      .responsive-menu-header
        img.responsive-header-logo(src="/res/images/main_logo.png")
        i.fas.fa-times.all-header-responsive-menu-close-button
      .responsive-menu-content
        span.responsive-all-product-button Kategoriler
          i.fas.fa-chevron-down
        .header-category-wrapper-responsive
          a.header-each-category-responsive(class=(category=="Tüm Ürünler" ? "active-each-category" : "") href="/") Tüm Ürünler
          a.header-each-category-responsive(class=(category=="Profil" ? "active-each-category" : "") href="/?category=Profil") Profil
          a.header-each-category-responsive(class=(category=="Dolaplar" ? "active-each-category" : "") href="/?category=Dolaplar") Dolaplar
          a.header-each-category-responsive(class=(category=="Duş Tekneleri" ? "active-each-category" : "") href="/?category=Duş Tekneleri") Duş Tekneleri
          a.header-each-category-responsive(class=(category=="Kabinler" ? "active-each-category" : "") href="/?category=Kabinler") Kabinler
          a.header-each-category-responsive(class=(category=="Kabinler (5mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (5mm) Temperli") Kabinler (5mm) Temperli
          a.header-each-category-responsive(class=(category=="Kabinler (4mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (4mm) Temperli") Kabinler (4mm) Temperli
          a.header-each-category-responsive(class=(category=="Kabinler Polisteren" ? "active-each-category" : "") href="/?category=Kabinler Polisteren") Kabinler Polisteren
          a.header-each-category-responsive(class=(category=="Menfezler" ? "active-each-category" : "") href="/?category=Menfezler") Menfezler
        span.responsive-new-product-button En Yeniler
        span.responsive-discount-product-button İndirimdekiler
    .all-header
      i.fas.fa-bars.all-header-responsive-menu-open-button
      a.header-logo(href="/")
        img(src="/res/images/main_logo.png")
      span.all-product-button Kategoriler
        i.fas.fa-chevron-down
        .header-category-wrapper
          a.header-each-category(class=(category=="Tüm Ürünler" ? "active-each-category" : "") href="/") Tüm Ürünler
          a.header-each-category(class=(category=="Profil" ? "active-each-category" : "") href="/?category=Profil") Profil
          a.header-each-category(class=(category=="Dolaplar" ? "active-each-category" : "") href="/?category=Dolaplar") Dolaplar
          a.header-each-category(class=(category=="Duş Tekneleri" ? "active-each-category" : "") href="/?category=Duş Tekneleri") Duş Tekneleri
          a.header-each-category(class=(category=="Kabinler" ? "active-each-category" : "") href="/?category=Kabinler") Kabinler
          a.header-each-category(class=(category=="Kabinler (5mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (5mm) Temperli") Kabinler (5mm) Temperli
          a.header-each-category(class=(category=="Kabinler (4mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (4mm) Temperli") Kabinler (4mm) Temperli
          a.header-each-category(class=(category=="Kabinler Polisteren" ? "active-each-category" : "") href="/?category=Kabinler Polisteren") Kabinler Polisteren
          a.header-each-category(class=(category=="Menfezler" ? "active-each-category" : "") href="/?category=Menfezler" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;") Menfezler
      span.new-product-button En Yeniler
      span.discount-product-button İndirimdekiler
      .search-wrapper
        i.fas.fa-search
        input.search-input(type="text" placeholder="Ürün Ara" autocomplete="off")
      .user-wrapper
        if (!user)
          a.login-wrapper(href="/auth") 
            i.fas.fa-user
            .login-button
              span Giriş Yap 
              span veya Üye Ol
        else
          .login-wrapper(href="/auth") 
            i.fas.fa-user
            .login-button
              span= user.email
              span olarak giriş yapıldı
        a.basket-wrapper(href="/basket") 
          .basket-button
            span Alışveriş
            span Sepetim
          i.fas.fa-shopping-basket
    .all-header-search-wrapper
      i.fas.fa-search
      input.search-input(type="text" placeholder="Ürün Ara" autocomplete="off")
    .all-content
      block main
