extends ./head
block content
  .all-wrapper
    .responsive-menu-wrapper
      .responsive-menu-header
        img.responsive-header-logo(src="/res/images/main_logo.png")
        i.fas.fa-times.all-header-responsive-menu-close-button
      .responsive-menu-content
        span.responsive-all-product-button Ürünler
          i.fas.fa-chevron-down
        .header-category-wrapper-responsive
          a.header-each-category(class=(category=="Tüm Ürünler" ? "active-each-category" : "") style="border-top: 0px" href="/") Tüm Ürünler
          a.header-each-category(class=(category=="Profil" ? "active-each-category" : "") href="/?generalCategory=Profil") Profil
          a.header-each-category(class=(category=="Profil Aksesuarları" ? "active-each-category" : "") href="/?generalCategory=Profil Aksesuarları") Profil Aksesuarları
          a.header-each-category(class=(category=="Dolaplar" ? "active-each-category" : "") href="/?generalCategory=Dolaplar") Dolaplar
          //- a.header-each-category(class=(category=="Duş Tekneleri" ? "active-each-category" : "") href="/?category=Duş Tekneleri") Duş Tekneleri
          //- a.header-each-category(class=(category=="Kabinler" ? "active-each-category" : "") href="/?category=Kabinler") Kabinler
          //- a.header-each-category(class=(category=="Kabinler (5mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (5mm) Temperli") Kabinler (5mm) Temperli
          //- a.header-each-category(class=(category=="Kabinler (4mm) Temperli" ? "active-each-category" : "") href="/?category=Kabinler (4mm) Temperli") Kabinler (4mm) Temperli
          //- a.header-each-category(class=(category=="Kabinler Polisteren" ? "active-each-category" : "") href="/?category=Kabinler Polisteren") Kabinler Polisteren
          //- a.header-each-category(class=(category=="Menfezler" ? "active-each-category" : "") href="/?category=Menfezler" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;") Menfezler
        a.responsive-new-product-button(href="/aboutus") Hakkımızda
        span.responsive-discount-product-button İndirimdekiler
    .all-header
      i.fas.fa-bars.all-header-responsive-menu-open-button
      a.header-logo(href="/")
        img(src="/res/images/main_logo.png" alt="ceoyesilyurt logo")
      span.all-product-button Kategoriler
        i.fas.fa-chevron-down
        .header-category-wrapper
          a.header-each-category(class=(category=="Tüm Ürünler" ? "active-each-category" : "") style="border-top: 0px;" href="/")
            span Tüm Ürünler
          a.header-each-category(class=(category=="Profil" ? "active-each-category" : "") href="/?generalCategory=Profil")
            span Profil
          a.header-each-category(class=(category=="Profil Aksesuarları" ? "active-each-category" : "") href="/?generalCategory=Profil Aksesuarları")
            span Profil Aksesuarları
          a.header-each-category(class=(category=="Dolaplar" ? "active-each-category" : "") style="border-bottom-left-radius: 15px;" href="/?generalCategory=Dolaplar")
            span Dolaplar
      a.new-product-button(href="/aboutus") Hakkımızda
      span.discount-product-button İndirimdekiler
      .search-wrapper
        i.fas.fa-search
        input.search-input-responsive(type="text" placeholder="Ürün Ara" autocomplete="off")
      .user-wrapper
        if (!user)
          .auth-wrapper
            i.fas.fa-user
            .auth-inner-wrapper
              a.auth-button(href="/auth/login")
                span Giriş Yap
              a.auth-button(href="/auth/register")
                span veya Üye Ol
          a.auth-wrapper-responsive(href="/auth/login")
            i.fas.fa-user
        else
          .auth-wrapper
            i.fas.fa-user
            .auth-inner-wrapper
              .auth-button-user
                span= user.email
                span olarak giriş yapıldı
        a.basket-wrapper(href="/basket") 
          .basket-button
            span Alışveriş
            span Sepetim
          i.fas.fa-shopping-basket
    .all-header-search-wrapper
      i.fas.fa-search
      input.search-input(type="text" placeholder="Ürün Ara" autocomplete="off")
    .all-content
      block main
