extends ./../partials/header
block main
  span#user-id.display-none= clientToken
  .all-content-inner-wrapper
    .container-wrapper
      span.container-header Ödemeyi Tamamla
      #dropin-container
      button#submit-button Devam
