extends ./../partials/header
block main
  span#formContent.display-none= formContent
  #iyzipay-checkout-form.responsive
  script.
    const stringJS = document.getElementById('formContent').innerHTML;
    eval(stringJS);
