/* 
Colors: 
rgb(87, 154, 40); ana yeşil teması
rgb(149, 193, 54); 
rgb(200, 212, 65);
rgb(243, 149, 63); turuncu
rgb(205, 204, 204); gri
rgb(39, 53, 131); mavi 
*/

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}

.display-none {
  display: none;
}

.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  /* background-color: rgb(253, 253, 253); */
  background-color: white;
}


.responsive-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
  position: absolute;
  background-color: white;
  border-right: 2px solid rgb(236, 236, 236);
  transform: translateX(-100%);
  z-index: 10;
}
.responsive-header-logo {
  height: 15px;
  margin-left: 15px;
}
.responsive-menu-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3%;
  border-bottom: 2px solid rgb(236, 236, 236);
}
.responsive-menu-header i {
  color: rgb(64, 64, 64);
  cursor: pointer;
  font-size: 125%;
}
.responsive-menu-content {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.responsive-all-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgb(236, 236, 236);
}
.responsive-all-product-button i {
  font-size: 80%;
  margin-left: 5px;
}
.responsive-new-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgb(236, 236, 236);
  text-decoration: none;
}
.responsive-discount-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgb(236, 236, 236);
}

.all-header {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(236, 236, 236);
  box-shadow: 0px 0px 20px 10px rgba(236, 236, 236, 0.5);
  background-color: white;
}
.all-header-responsive-menu-open-button {
  padding-left: 4%;
  color: rgb(64, 64, 64);
  font-size: 150%;
  cursor: pointer;
  display: none;
}
.open-menu-animation-class {
  -webkit-animation: open 0.5s ease-in-out 0s 1 forwards;
}
.close-menu-animation-class {
  -webkit-animation: close 0.5s ease-in-out 0s 1 forwards;
}
.header-logo {
  width: auto;
  max-width: 10%;
  margin-left: 4%;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
.all-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.all-product-button i {
  font-size: 80%;
  margin-left: 5px;
}
.new-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.new-product-button:hover {
  text-decoration: underline;
}
.discount-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-category-wrapper {
  width: 60vw;
  position: absolute;
  top: 50px;
  padding-top: 50px;
  border-bottom: 2px solid rgb(236, 236, 236);
  margin-top: 1px;
  display: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 5;
}
/* .header-category-wrapper-bar {
  flex: 1;
  width: 25%;
}
.header-category-wrapper-content {
  flex: 3;
  width: 75%;
  background-color: rgb(255, 255, 255);
} */

.header-category-wrapper-responsive {
  width: 94%;
  margin-left: 6%;
  height: 0px;
  overflow: hidden;
}
.header-each-category {
  display: block;
  padding: 15px;
  border: 2px solid rgb(236, 236, 236);
  border-bottom: 0px;
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 600;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-each-category:hover {
  background-color: rgb(248, 248, 248);
}
.header-each-category-responsive {
  display: flex;
  align-items: center;
  height: 32px;
  border: 2px solid rgb(236, 236, 236);
  border-top: 0px;
  border-right: 0px;
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 600;
  padding-left: 15px;
  background-color: white;
}
.header-each-category-responsive:hover {
  background-color: rgb(248, 248, 248);
}
.active-each-category {
  background-color: rgb(248, 248, 248);
}

.open-bottom-animation-class {
  -webkit-animation: openToBottom 0.5s ease-in-out 0s 1 forwards;
}
.close-up-animation-class {
  -webkit-animation: closeToUp 0.5s ease-in-out 0s 1 forwards;
}

.all-header-search-wrapper {
  width: 100%;
  height: 50px;
  box-shadow: 0px 20px 20px 0px rgba(236, 236, 236, 0.2);
  display: flex;
  align-items: center;
  padding-left: 4%;
  display: none;
  border-bottom: 2px solid rgb(236, 236, 236);
  border-top: 2px solid rgb(236, 236, 236);
  background-color: white;
}
.all-header-search-wrapper i {
  color: rgb(112, 112, 112);
  font-size: 80%;
  margin-right: 5px;
  cursor: pointer;
}
.search-wrapper {
  margin-left: auto;
  margin-right: 3%;
  width: 20%;
  height: 40%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search-input {
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  outline: none;
  width: 90%;
}
.search-input-responsive {
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  outline: none;
  width: 90%;
}
.search-wrapper i {
  color: rgb(64, 64, 64);
  font-size: 80%;
  margin-right: 5px;
  cursor: pointer;
}

.user-wrapper {
  display: flex;
  width: 20%;
  margin-right: 4%;
  justify-content: flex-end;
  align-items: center;
}
.auth-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
  border-right: 1px solid rgb(64, 64, 64);
}
.auth-wrapper i {
  font-size: 150%;
  margin-right: 5px;
  color: rgb(64, 64, 64);
}
.auth-wrapper-responsive {
  display: none;
  align-items: center;
  text-decoration: none;
  padding-right: 10px;
  border-right: 1px solid rgb(64, 64, 64);
}
.auth-wrapper-responsive i {
  font-size: 150%;
  margin-right: 5px;
  color: rgb(64, 64, 64);
}
.auth-inner-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.auth-button {
  color: rgb(64, 64, 64);
  text-decoration: none;
}
.auth-button-user {
  color: rgb(64, 64, 64);
  text-decoration: none;
}
.auth-button:hover {
  text-decoration: underline;
}
.basket-wrapper {
  display: flex;
  align-items: center;
  color: rgb(64, 64, 64);
  text-decoration: none;
  padding-left: 20px;
}
.basket-wrapper i {
  font-size: 150%;
  margin-left: 5px;
}
.basket-button {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.all-content {
  flex: 1;
}

.products-inner-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 2%;
  margin-bottom: 10%;
}
.each-product {
  height: 55vh;
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  margin-bottom: 10%;
}
.each-product:hover {
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px 0px 25px 10px rgb(236, 236, 236);
  z-index: 2;
}
.each-product-sale-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}
.each-product-sale-text {
  transform: translate(50%, -50%);
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  background-color: rgb(87, 154, 40);
  color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 125%;
}
.each-product-sale-text-empty {
  transform: translate(50%, -50%);
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  background-color: transparent;
  color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 125%;
}
.each-product-image-wrapper {
  height: 20vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.product-image {
  height: 100%;
}
.product-name {
  font-size: 150%;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.product-description {
  font-size: 100%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price-wrapper {
  display: flex;
  flex-direction: column;
}
.product-old-price {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 300;
  text-decoration: line-through;
}
.product-old-price-empty {
  font-size: 100%;
  color: transparent;
  font-weight: 300;
  text-decoration: line-through;
}
.product-price {
  color: rgb(243, 149, 63);
  font-size: 200%;
  font-weight: 700;
}
.product-is-dolar {
  color: rgb(243, 149, 63);
  font-size: 100%;
  font-weight: 300;
  margin-left: 10px;
}
.add-to-basket-button {
  background-color: rgb(87, 154, 40);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  visibility: hidden;
}
.add-to-basket-button:hover {
  background-color: rgb(243, 149, 63);
}
.remove-from-basket-button {
  background-color: rgb(255, 0, 0);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  visibility: hidden;
}
.remove-from-basket-button:hover {
  background-color: rgb(243, 149, 63);
}

@-webkit-keyframes open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}

@-webkit-keyframes openToBottom {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

@-webkit-keyframes closeToUp {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes close {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}


@media only screen and (max-width: 1200px) and (min-width: 300px) {
  .search-wrapper {
    display: none;
  }
  .all-header-search-wrapper {
    display: flex;
  }
  .all-header {
    border: none;
  }
  .search-input {
    width: 95%;
  }
  .user-wrapper {
    margin-left: auto;
    width: 30%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .user-wrapper {
    width: 10%;
  }
  .auth-button, .basket-button {
    display: none;
  }
  .auth-wrapper {
    display: none;
  }
  .auth-wrapper-responsive {
    display: flex;
  }
  .basket-wrapper {
    padding-left: 10px;
  }
  .header-category-wrapper {
    width: 60vw;
  }
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .all-product-button, .new-product-button, .discount-product-button {
    display: none;
  }
  .all-header-responsive-menu-open-button {
    display: block;
  }
  .header-logo {
    height: auto;
    max-width: 20%;
    display: flex;
    align-items: center;
  }
}


@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .products-inner-wrapper {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .products-inner-wrapper {
    grid-template-columns: 33% 33% 33%;
  }
  .each-product-image-wrapper {
    width: 26vw;
  }
  .product-name {
    font-size: 125%;
  }
  .product-description {
    font-size: 90%;
  }
  .product-price {
    font-size: 175%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .products-inner-wrapper {
    grid-template-columns: 33% 33% 33%;
  }
  .products-inner-wrapper {
    grid-template-columns: 100%;
  }
  .product-number-wrapper {
    width: 90vw;
  }
  .each-product-image-wrapper {
    width: 90vw;
  }
  .each-product {
    padding-top: 5%;
    margin-bottom: 5%;
    height: 60vh;
  }
  .product-name {
    font-size: 125%;
  }
  .product-description {
    font-size: 90%;
  }
  .product-price {
    font-size: 175%;
  }
}
