/* 
Colors: 
rgb(87, 154, 40); ana yeşil teması
rgb(149, 193, 54); 
rgb(200, 212, 65);
rgb(243, 149, 63); turuncu
rgb(205, 204, 204); gri
rgb(39, 53, 131); mavi 
*/

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}

.display-none {
  display: none;
}

.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  /* background-color: rgb(253, 253, 253); */
  background-color: white;
}


.responsive-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: white;
  border-right: 2px solid rgb(236, 236, 236);
  transform: translateX(-100%);
  z-index: 10;
}
.responsive-menu-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3%;
  border-bottom: 2px solid rgb(236, 236, 236);
}
.responsive-menu-header i {
  color: rgb(64, 64, 64);
  cursor: pointer;
  font-size: 125%;
}
.responsive-menu-content {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.responsive-all-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  padding-left: 3%;
  padding-top: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 3%;
  border-bottom: 2px solid rgb(236, 236, 236);
}
.responsive-all-product-button i {
  font-size: 80%;
  margin-left: 5px;
}
.responsive-new-product-button {
  font-size: 125%;
  color: rgb(87, 154, 40);
  font-weight: 600;
  padding-left: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-bottom: 2px solid rgb(236, 236, 236);
  text-decoration: none;
}
.responsive-discount-product-button {
  font-size: 125%;
  color: rgb(243, 149, 63);
  font-weight: 600;
  padding-left: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: 2px solid rgb(236, 236, 236);
}

.all-header {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(236, 236, 236);
  background-color: white;
}
.all-header-responsive-menu-open-button {
  padding-left: 4%;
  color: rgb(64, 64, 64);
  font-size: 150%;
  cursor: pointer;
  display: none;
}
.open-menu-animation-class {
  -webkit-animation: open 0.5s ease-in-out 0s 1 forwards;
}
.close-menu-animation-class {
  -webkit-animation: close 0.5s ease-in-out 0s 1 forwards;
}
.header-logo {
  width: auto;
  max-width: 10%;
  margin-left: 4%;
}
.responsive-header-logo {
  width: auto;
  max-width: 50%;
  max-height: 70%;
  margin-left: 2%;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
.all-product-button {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.all-product-button i {
  font-size: 80%;
  margin-left: 5px;
}
.new-product-button {
  font-size: 125%;
  color: rgb(87, 154, 40);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.discount-product-button {
  font-size: 125%;
  color: rgb(243, 149, 63);
  font-weight: 600;
  margin-left: 2%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-category-wrapper {
  width: 40vw;
  position: absolute;
  top: 7.3%;
  padding-top: 1%;
  border-bottom: 2px solid rgb(236, 236, 236);
  display: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header-category-wrapper-responsive {
  width: 94%;
  margin-left: 6%;
  height: 0px;
  overflow: hidden;
}
.open-bottom-animation-class {
  -webkit-animation: openToBottom 0.5s ease-in-out 0s 1 forwards;
}
.close-up-animation-class {
  -webkit-animation: closeToUp 0.5s ease-in-out 0s 1 forwards;
}
.header-each-category {
  display: block;
  padding-top: 2%;
  padding-bottom: 5px;
  border: 2px solid rgb(236, 236, 236);
  border-bottom: 0px;
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 600;
  padding-left: 15px;
  background-color: white;
}
.header-each-category:hover {
  background-color: rgb(248, 248, 248);
}
.header-each-category-responsive {
  display: flex;
  align-items: center;
  height: 32px;
  border: 2px solid rgb(236, 236, 236);
  border-top: 0px;
  border-right: 0px;
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 600;
  padding-left: 15px;
  background-color: white;
}
.header-each-category-responsive:hover {
  background-color: rgb(248, 248, 248);
}
.active-each-category {
  background-color: rgb(248, 248, 248);
}

.all-header-search-wrapper {
  width: 100%;
  flex: 0.5;
  display: flex;
  align-items: center;
  padding-left: 4%;
  display: none;
  border-bottom: 2px solid rgb(236, 236, 236);
  border-top: 2px solid rgb(236, 236, 236);
  background-color: white;
}
.all-header-search-wrapper i {
  color: rgb(112, 112, 112);
  font-size: 80%;
  margin-right: 5px;
  cursor: pointer;
}
.search-wrapper {
  margin-left: auto;
  margin-right: 3%;
  width: 20%;
  height: 40%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search-input {
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  outline: none;
  width: 90%;
}
.search-input-responsive {
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  outline: none;
  width: 90%;
}
.search-wrapper i {
  color: rgb(64, 64, 64);
  font-size: 80%;
  margin-right: 5px;
  cursor: pointer;
}

.user-wrapper {
  display: flex;
  width: 20%;
  margin-right: 4%;
  justify-content: flex-end;
  align-items: center;
}
.login-wrapper {
  display: flex;
  align-items: center;
  color: rgb(64, 64, 64);
  text-decoration: none;
  padding-right: 20px;
  border-right: 1px solid rgb(64, 64, 64);
}
.login-wrapper i {
  font-size: 150%;
  margin-right: 5px;
}
.login-button {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.basket-wrapper {
  display: flex;
  align-items: center;
  color: rgb(64, 64, 64);
  text-decoration: none;
  padding-left: 20px;
}
.basket-wrapper i {
  font-size: 150%;
  margin-left: 5px;
}
.basket-button {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.all-content {
  flex: 7;
}

@-webkit-keyframes open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}

@-webkit-keyframes openToBottom {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

@-webkit-keyframes closeToUp {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes close {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}


@media only screen and (max-width: 1200px) and (min-width: 300px) {
  .search-wrapper {
    display: none;
  }
  .all-header-search-wrapper {
    display: flex;
  }
  .all-header {
    border: none;
  }
  .search-input {
    width: 95%;
  }
  .user-wrapper {
    margin-left: auto;
    width: 30%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .user-wrapper {
    width: 10%;
  }
  .login-button, .basket-button {
    display: none;
  }
  .login-wrapper {
    padding-right: 10px;
  }
  .basket-wrapper {
    padding-left: 10px;
  }
  .header-category-wrapper {
    width: 60vw;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .all-product-button, .new-product-button, .discount-product-button {
    display: none;
  }
  .all-header-responsive-menu-open-button {
    display: block;
  }
  .header-logo {
    height: auto;
    max-width: 20%;
    display: flex;
    align-items: center;
  }
}
