.all-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.main-form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-right: 0px;
  width: 75%;
}
.form-title {
  color: rgb(64, 64, 64);
  font-size: 200%;
  font-weight: 700;
}
.form-line {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.form-info-title {
  color: rgb(64, 64, 64);
  font-size: 125%;
  font-weight: 700;
  margin-bottom: 1%;
}
.form-info {
  font-size: 150%;
  color: rgb(64, 64, 64);
  font-weight: 300;
  margin-bottom: 3%;
}

.main-input-title {
  color: rgb(64, 64, 64);
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 1%;
}
.main-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid rgb(236, 236, 236);
  background-color: white;
  width: 75%;
  padding: 1%;
  border-radius: 5px;
  flex: 1;
  margin-right: 2%;
}
.main-input {
  outline: none;
  border: none;
  font-size: 100%;
  color: rgb(112, 112, 112);
  width: 90%;
  height: 90%;
  padding-left: 5px;
}
.main-input-wrapper i {
  color: rgb(112, 112, 112);
  font-size: 90%;
}

.shipping-options-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  margin-bottom: 3%;
}
.each-shipping-option {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}
.each-shipping-option input {
  margin-right: 10px;
}
.price-info {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 300;
  padding-left: 2%;
}

.button-wrapper {
  width: 100%;
  margin-bottom: 5%;
}
.send-button {
  background-color: rgb(87, 154, 40);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.send-button:hover {
  background-color: rgb(243, 149, 63);
}
