.all-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0% 4%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.content-main-header {
  font-size: 200%;
  color: rgb(64, 64, 64);
  font-weight: 700;
  margin: 25px 0px;
}
.content-text {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 300;
  margin-bottom: 5px;
}
.content-space {
  margin-bottom: 25px;
}
.content-header {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-bottom: 5px;
  margin-bottom: 15px;
}
.content-back-button {
  margin-top: 25px;
  margin-bottom: 50px;
  color: rgb(64, 64, 64);
  font-weight: 600;
  border: 2px solid rgb(236, 236, 236);
  padding: 15px;
  min-width: 10vw;
  border-radius: 10px;
  text-decoration: none;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
