extends ./../partials/header
block main
  form.main-form(action="/buy" method="POST")
    span.form-title Siparişi Tamamla:
    span.form-info Toplam ürün fiyatı: #{price}₺
    .form-line
      .main-input-wrapper
        i.fas.fa-phone
        input.main-input(type="text" name="phone" placeholder="Cep Tel." spellcheck="false" autocomplete="off" required)
      .main-input-wrapper
        i.fas.fa-id-card
        input.main-input(type="text" name="tc" placeholder="TC Kimlik No" spellcheck="false" autocomplete="off" required)
    .form-line
      .main-input-wrapper
        i.fas.fa-user
        input.main-input(type="text" name="surname" placeholder="Ad" spellcheck="false" autocomplete="off" required)
      .main-input-wrapper
        i.fas.fa-user
        input.main-input(type="text" name="name" placeholder="Soyad" spellcheck="false" autocomplete="off" required)
    .form-line
      .main-input-wrapper
        i.fas.fa-building
        input.main-input(type="text" name="company" placeholder="Şirket" spellcheck="false" autocomplete="off" required)
    .form-line
      .main-input-wrapper
        i.fas.fa-map-marker-alt
        input.main-input(type="text" name="city1" placeholder="İl" spellcheck="false" autocomplete="off" required)
      .main-input-wrapper
        i.fas.fa-map-marker-alt
        input.main-input(type="text" name="city2" placeholder="İlçe" spellcheck="false" autocomplete="off" required)
    .form-line
      .main-input-wrapper
        i.fas.fa-map-pin
        input.main-input(type="text" name="address" placeholder="Adres" spellcheck="false" autocomplete="off" required)
    span.form-info-title Kargo Seçenekleri
    .shipping-options-wrapper
      label.each-shipping-option
        input(type="radio" name="shipping" value="Ücretsiz kargo" required)
        span Ücretsiz kargo
      label.each-shipping-option
        input(type="radio" name="shipping" value="Mağazadan kendim teslim alacağım" required)
        span Mağazadan kendim teslim alacağım.
      label.each-shipping-option
        input(type="radio" name="shipping" value="Global Yeşilyurt sevkiyat araçları ile (Karadeniz Bölgesi)" required)
        span Global Yeşilyurt sevkiyat araçları ile (sadece Karadeniz Bölgesi için)
    .button-wrapper
      button.send-button Siparişi Bitir
