.all-content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.product-number-wrapper {
  position: absolute;
  width: 40vw;
  background-color: white;
  border: 2px solid rgb(236, 236, 236);
  margin-left: 50vw;
  margin-top: 125vh;
  transform: translate(-50%, -75%);
  border-radius: 15px;
  padding: 2%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.popUpOpenAnimationClass {
  animation: popUpOpen 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: popUpOpen 0.5s ease-in-out 0s 1 forwards;
}
.popUpCloseAnimationClass {
  animation: popUpClose 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: popUpClose 0.5s ease-in-out 0s 1 forwards;
}
.product-number-title {
  font-size: 150%;
  font-weight: 600;
  color: rgb(64, 64, 64);
}
.product-number-info {
  font-size: 125%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  margin-bottom: 5%;
}
.product-number-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid rgb(236, 236, 236);
  width: 85%;
  height: 20%;
  border-radius: 5px;
  margin-bottom: 4%;
}
.product-number-input {
  outline: none;
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  width: 100%;
  padding: 4%;
}
.product-number-error {
  margin-bottom: 3%;
  color: rgb(243, 149, 63);
  font-weight: 600;
  font-size: 100%;
}
.product-number-button-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
.product-number-send-button {
  padding: 2%;
  background-color: rgb(87, 154, 40);
  color: white;
  font-weight: 600;
  font-size: 125%;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}
.product-number-send-button:hover, .product-number-close-button:hover {
  background-color: rgb(243, 149, 63);
}
.product-number-close-button {
  padding: 2%;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 125%;
  cursor: pointer;
  border-radius: 5px;
}

.main-product-wrapper {
  width: 75%;
  margin-top: 25px;
  margin-left: 2%;
  display: flex;
}

.product-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image-wrapper {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  border: 2px solid rgb(236, 235, 235);
}
.product-images-menu {
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.product-menu-image {
  width: 19%;
  height: 100%;
  margin-right: 1.2%;
  border: 2px solid rgb(236, 235, 235);
  cursor: pointer;
  border-radius: 5px;
}
.selected-menu-image {
  border: 2px solid rgb(39, 53, 131);
}

.product-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.product-title {
  margin-bottom: 5px;
  color: rgb(64, 64, 64);
  font-size: 175%;
  font-weight: 700; 
}
.product-description {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 300;
}
.product-price {
  color: rgb(243, 149, 63);
  font-size: 200%;
  font-weight: 700;
  margin-top: 25px;
  margin-left: auto;
}
.add-to-basket-button-main {
  background-color: rgb(87, 154, 40);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 50%;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.add-to-basket-button-main:hover {
  background-color: rgb(243, 149, 63);
}
.remove-from-basket-button-main {
  background-color: rgb(255, 0, 0);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.remove-from-basket-button-main:hover {
  background-color: rgb(243, 149, 63);
}


.products-title {
  margin-top: 25px;
  margin-left: 4%;
  color: rgb(64, 64, 64);
  font-size: 175%;
  font-weight: 700;
}
.products-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 92%;
  margin: 0% 4%;
  margin-top: 25px;
}
.each-product {
  height: 50vh;
  padding: 5%;
  padding-top: 20%;
  background: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  margin-bottom: 10%;
}
.each-product:hover {
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px 0px 25px 10px rgb(236, 236, 236);
  z-index: 2;
}
.each-product-image-wrapper {
  height: 20vh;
  width: 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: center;
  background: white;
  border-radius: 15px;
}
.each-product-image-inner-wrapper {
  width: 100%;
}
.each-product-image {
  width: 100%;
  min-height: 100%;
}
.each-product-name {
  font-size: 150%;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.each-product-description {
  font-size: 100%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.each-product-price {
  color: rgb(243, 149, 63);
  font-size: 200%;
  font-weight: 700;
}
.add-to-basket-button {
  background-color: rgb(87, 154, 40);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  visibility: hidden;
}
.add-to-basket-button:hover {
  background-color: rgb(243, 149, 63);
}
.remove-from-basket-button {
  background-color: rgb(255, 0, 0);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  visibility: hidden;
}
.remove-from-basket-button:hover {
  background-color: rgb(243, 149, 63);
}

@keyframes popUpOpen {
  from {
    margin-top: 125vh;
  }
  to {
    margin-top: 25vh;
  }
}
@-webkit-keyframes popUpOpen {
  from {
    margin-top: 125vh;
  }
  to {
    margin-top: 25vh;
  }
}

@keyframes popUpClose {
  from {
    margin-top: 25vh;
  }
  to {
    margin-top: 125vh;
  }
}
@-webkit-keyframes popUpClose {
  from {
    margin-top: 25vh;
  }
  to {
    margin-top: 125vh;
  }
}

@media only screen and (max-width: 900px) and (min-width: 300px) {
  .main-product-wrapper {
    width: 94%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .products-wrapper {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .products-wrapper {
    grid-template-columns: 33% 33% 33%;
  }
  .each-product-image-wrapper {
    width: 26vw;
  }
  .each-product-name {
    font-size: 125%;
  }
  .each-product-description {
    font-size: 90%;
  }
  .each-product-price {
    font-size: 175%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .products-wrapper {
    grid-template-columns: 100%;
  }
  .product-number-wrapper {
    width: 90vw;
  }
  .each-product-image-wrapper {
    width: 90vw;
  }
  .each-product {
    padding-top: 5%;
    margin-bottom: 5%;
  }
  .each-product-name {
    font-size: 125%;
  }
  .each-product-description {
    font-size: 90%;
  }
  .each-product-price {
    font-size: 175%;
  }
  .product-title {
    font-size: 150%;
  }
  .product-description {
    font-size: 100%;
  }
  .product-price {
    font-size: 175%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .main-product-wrapper {
    flex-direction: column;
    margin-left: 4%;
    width: 92%;
  }
  .product-right-side {
    padding-left: 0%;
    margin-top: 25px;
  }
  .product-image-wrapper, .product-images-menu {
    max-width: 100%;
    width: 100%;
  }
  .product-price {
    margin-bottom: 25px;
  }
}
