.all-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0% 4%;
}

.product-number-wrapper {
  position: absolute;
  width: 40vw;
  background-color: white;
  border: 2px solid rgb(236, 236, 236);
  margin-left: 50vw;
  margin-top: 125vh;
  transform: translate(-50%, -75%);
  border-radius: 15px;
  padding: 2%;
  z-index: 10;
  display: none;
  flex-direction: column;
}
.popUpOpenAnimationClass {
  animation: popUpOpen 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: popUpOpen 0.5s ease-in-out 0s 1 forwards;
}
.popUpCloseAnimationClass {
  animation: popUpClose 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: popUpClose 0.5s ease-in-out 0s 1 forwards;
}
.product-number-title {
  font-size: 150%;
  font-weight: 600;
  color: rgb(64, 64, 64);
}
.product-number-info {
  font-size: 125%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  margin-bottom: 5%;
}
.product-number-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid rgb(236, 236, 236);
  width: 85%;
  height: 20%;
  border-radius: 5px;
  margin-bottom: 4%;
}
.product-number-input {
  outline: none;
  border: none;
  font-size: 100%;
  color: rgb(64, 64, 64);
  width: 100%;
  padding: 4%;
}
.product-number-error {
  margin-bottom: 3%;
  color: rgb(243, 149, 63);
  font-weight: 600;
  font-size: 100%;
}
.product-number-button-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
.product-number-send-button {
  padding: 2%;
  background-color: rgb(87, 154, 40);
  color: white;
  font-weight: 600;
  font-size: 125%;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}
.product-number-send-button:hover, .product-number-close-button:hover {
  background-color: rgb(243, 149, 63);
}
.product-number-close-button {
  padding: 2%;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 125%;
  cursor: pointer;
  border-radius: 5px;
}

.window-title {
  font-size: 200%;
  color: rgb(64, 64, 64);
  font-weight: 600;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.window-wrapper {
  display: flex;
  height: 55vh;
  margin-top: 25px;
  border-bottom: 2px solid rgb(236, 236, 236);
  overflow-x: scroll;
  padding-bottom: 25px;
}
.each-window-separator {
  border: 1px solid rgb(236, 236, 236);
  height: 100%;
}
.each-window-item {
  width: 18vw;
  padding: 15px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0px 25px;
  margin-top: 25px;
  text-decoration: none;
}
.each-window-item:hover {
  border-top: 2px solid rgb(236, 236, 236);
  box-shadow: 0px 0px 10px 10px rgb(236, 236, 236);
  z-index: 2;
}
.window-item-sale-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.window-sale-text {
  transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
  margin-bottom: -10px;
  background-color: rgb(87, 154, 40);
  color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 125%;
}
.window-sale-text-empty {
  transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
  margin-bottom: -10px;
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 125%;
}
.window-product-image-wrapper {
  height: 50%;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window-product-image {
  height: 100%;
  border-radius: 15px;
}
.window-product-name {
  font-size: 150%;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.window-product-description {
  font-size: 100%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  margin-bottom: auto;
}
.window-product-price {
  color: rgb(243, 149, 63);
  font-size: 175%;
  font-weight: 700;
}
.window-product-old-price {
  text-decoration: line-through;
  color: rgb(64, 64, 64);
  font-weight: 300;
  font-size: 125%;
}
.window-product-details {
  color: rgb(64, 64, 64);
  font-weight: 300;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.products-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.products-title {
  font-size: 200%;
  font-weight: 600;
  color: rgb(64, 64, 64);
  display: flex;
  justify-content: center;
}
.keywords-title {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 300;
}

.each-category {
  height: 40vh;
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  margin-bottom: 10%;
}
.each-category:hover {
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px 0px 25px 10px rgb(236, 236, 236);
  z-index: 2;
}
.category-name {
  font-size: 150%;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin-top: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.category-description {
  font-size: 125%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.category-details {
  font-size: 100%;
  font-weight: 300;
  color: rgb(64, 64, 64);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  visibility: hidden;
}
.category-details i {
  margin-right: 5px;
  font-size: 80%;
  color: rgba(64, 64, 64, 0.7);
}

@keyframes popUpOpen {
  from {
    margin-top: 125vh;
  }
  to {
    margin-top: 25vh;
  }
}
@-webkit-keyframes popUpOpen {
  from {
    margin-top: 125vh;
  }
  to {
    margin-top: 25vh;
  }
}

@keyframes popUpClose {
  from {
    margin-top: 25vh;
  }
  to {
    margin-top: 125vh;
  }
}
@-webkit-keyframes popUpClose {
  from {
    margin-top: 25vh;
  }
  to {
    margin-top: 125vh;
  }
}

@media only screen and (orientation: portrait) {
  .notifications-wrapper {
    height: 40vh;
  }
}


@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .each-window-item {
    width: 20vw;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .each-window-item {
    width: 25vw;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .each-window-item {
    width: 30vw;
  }
  .window-product-name {
    font-size: 125%;
  }
  .window-product-price {
    font-size: 150%;
  }
  .window-product-old-price {
    font-size: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .each-window-item {
    width: 40vw;
  }
  .window-product-name {
    font-size: 125%;
  }
  .window-product-price {
    font-size: 150%;
  }
  .window-product-old-price {
    font-size: 100%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .each-window-item {
    width: 60vw;
  }
  .window-product-name {
    font-size: 125%;
  }
  .window-product-price {
    font-size: 150%;
  }
  .window-product-old-price {
    font-size: 100%;
  }
}
