.all-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.main-inner-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 2%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0% 4%;
}
.main-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.main-title {
  font-size: 200%;
  font-weight: 600;
  color: rgb(64, 64, 64);
}
.main-info {
  font-size: 100%;
  color: rgb(64, 64, 64);
  font-weight: 300;
}
.finish-button {
  background-color: rgb(87, 154, 40);
  font-size: 125%;
  color: white;
  font-weight: 600;
  width: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
.finish-button:hover {
  background-color: rgb(243, 149, 63);
}


.products-wrapper {
  padding: 0% 4%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.basket-each-product {
  height: 10vh;
  padding: 2%;
  background: white;
  display: flex;
  text-decoration: none;
  border: 2px solid white;
  margin-bottom: 2%;
  border: 2px solid rgb(236, 236, 236);
  width: 80%;
  align-items: center;
  border-radius: 5px;
}
.basket-each-product-image-wrapper {
  height: 8vh;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 15px;
}
.basket-each-product-image {
  height: 100%;
}
.basket-product-name {
  font-size: 100%;
  font-weight: 600;
  color: rgb(64, 64, 64);
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.basket-product-price-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.basket-product-old-price {
  font-size: 125%;
  color: rgb(64, 64, 64);
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 10px;
}
.basket-product-price {
  color: rgb(243, 149, 63);
  font-size: 150%;
  font-weight: 700;
}
.remove-button {
  margin-left: 15px;
  color: rgba(64, 64, 64, 0.7);
  font-size: 125%;
  cursor: pointer;
}
.remove-button:hover {
  color: rgb(64, 64, 64);
}

.total-price {
  color: rgb(243, 149, 63);
  font-size: 200%;
  font-weight: 700;
  margin-left: 2%;
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  .finish-button {
    font-size: 100%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 700px) {
  .each-product {
    width: 100%;
  }
  .finish-button {
    font-size: 90%;
  }
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .each-product {
    width: 100%;
  }
  .finish-button {
    width: 32%;
    margin-left: 2%;
    font-size: 125%;
  }
  .product-price {
    font-size: 150%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .each-product {
    width: 100%;
  }
  .finish-button {
    width: 50%;
    font-size: 100%;
  }
  .product-price {
    font-size: 125%;
  }
  .remove-button {
    margin-left: 5px;
  }
  .main-header {
    flex-direction: column;
    align-items: flex-end;
  }
  .each-product-image-wrapper {
    width: 10vw;
  }
}
