.all-content-inner-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 4%;
  overflow: scroll;
}

.container-wrapper {
  width: 50vw;
  padding: 25px;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.container-header {
  color: rgb(64, 64, 64);
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 15px;
}
#submit-button {
  align-self: center;
  color: rgb(64, 64, 64);
  border: 2px solid rgb(236, 236, 236);
  padding: 10px;
  font-size: 100%;
  outline: none;
  border-radius: 10px;
}

#dropin-container {
  border-radius: 15px !important;
}
.braintree-placeholder {
  display: none;
}
.braintree-form__label {
  color: rgb(64, 64, 64) !important;
  font-size: 100% !important;
  font-weight: 600 !important;
  font-family: "Source Sans Pro" !important;
}

@media only screen and (orientation: portrait) {
  .container-wrapper {
    width: 100%;
  }
}
