extends ./../partials/header
block main
  .all-content-left-wrapper
    span.all-content-header Hakkımızda
    span.all-content-text 1996 yılında 3 ortak olarak güçlü sermaye, güçlü bilgi ve deneyim sahibi olarak sektöre giriş yaptık. Kısa sürede sektörde hedeflediğimiz noktaya ulaştık. 1997 yılında inşaat profili ve yardımcı malzemelerin imalatını kurduk. Bu imalatı gerçekleştiren Türkiye’de ilk 3 firmadan biri olarak çok kısa bir sürede Türkiye pazarında söz sahibi olduk. 2002 yılında ortaklarımızdan birinin ayrılma kararı sonucu ilk kurmuş olduğumuz firmayı 3. ortağımıza devrederek aynı donanımlara sahip daha güçlü daha deneyimli faaliyet alanı daha geniş olan Global A.Ş.’yi 15.01.2003 yılında kurduk. Halen Samsun, Gürcistan ve Türkiye’mizin her bölgesine firmamız ile hizmet vermekteyiz.
    span.all-content-header Faaliyet Konularımız
    span.all-content-text İnşaat sektöründe kullanılan ..züm profillerinin üretilmesi ve üretici firmaların bölge bayiilikleri ile ürünlerini yurtiçi ve yurtdışı satışlarını gerçekleştirmekteyiz.
    span.all-content-header Bir Başka Faaliyet Konumuz
    span.all-content-text İnşaat yapımı (Apartman, site ve yazlık) ve bu yapılan inşaatların (daire,dükkan,yazlık) satışlarıdır. Bu faaliyet konumuzla Samsun gündemindeki yerimizi almış bulunmaktayız. Hedef Türkiye’deki büyük projelere imza atmaktır. İnternet Sitemiz vasıtasıyla da özellikle Yurtdışı bağlantılarımızı güçlendirmek amacındayız.
    span.all-content-text Bütün bunları başarırken tek sermayemizin insan olduğunu belirterek, insanlara güvenmek, insanları sevmek ve insanlara hizmet etmek amacımızdır. Sloganımız “Sektörde Güven” olarak belirlenmiştir. Güveninize layık olmaya çalışacağız.
  .all-content-right-wrapper
    image(src="/res/images/aboutus_page.jpg")
